<a href="https://colab.research.google.com/github/musabegumm/DSC110/blob/main/Data_Cleaning_%26_Summarization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is like a library used for storing, cleaning, and organizing the data. By using "pd," we're using it as a shortcut for the pandas Library.

In [2]:
import pandas as pd

The "df" downbelow means "dataframe," it helps translates data. When we say "df = ..." we're assigning a task to df that will later traslated for us.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/osoliman/DSC110/refs/heads/main/Datasets/nhanes_final.csv')

In [4]:
df

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
0,130378.0,1.0,43.0,6.0,5.0,27.0,179.5,135.0,2.0,5.6,113.0
1,130379.0,1.0,66.0,3.0,5.0,33.5,174.2,121.0,2.0,5.6,99.0
2,130380.0,2.0,44.0,2.0,3.0,29.7,152.9,111.0,1.0,6.2,156.0
3,130381.0,2.0,5.0,7.0,NaN,23.8,120.1,NaN,2.0,NaN,NaN
4,130382.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11928,142306.0,1.0,9.0,2.0,NaN,15.4,128.0,NaN,2.0,NaN,NaN
11929,142307.0,2.0,49.0,4.0,5.0,NaN,143.8,127.0,1.0,6.2,NaN
11930,142308.0,1.0,50.0,2.0,4.0,26.4,173.3,106.0,2.0,NaN,NaN
11931,142309.0,1.0,40.0,2.0,4.0,25.5,179.1,127.0,2.0,5.2,96.0
11932,142310.0,2.0,80.0,3.0,3.0,27.6,161.7,128.0,2.0,5.3,NaN

Writing "head" after df. with () tranlates or provides with the first 5 list from the entire dataframe, starting from 0.

In [5]:
df.head()

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
0,130378.0,1.0,43.0,6.0,5.0,27.0,179.5,135.0,2.0,5.6,113.0
1,130379.0,1.0,66.0,3.0,5.0,33.5,174.2,121.0,2.0,5.6,99.0
2,130380.0,2.0,44.0,2.0,3.0,29.7,152.9,111.0,1.0,6.2,156.0
3,130381.0,2.0,5.0,7.0,NaN,23.8,120.1,NaN,2.0,NaN,NaN
4,130382.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN

Likewise "head," when coding "tail" it translates to the last 5 lists of the entire dataframe.

In [6]:
df.tail()

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
11928,142306.0,1.0,9.0,2.0,NaN,15.4,128.0,NaN,2.0,NaN,NaN
11929,142307.0,2.0,49.0,4.0,5.0,NaN,143.8,127.0,1.0,6.2,NaN
11930,142308.0,1.0,50.0,2.0,4.0,26.4,173.3,106.0,2.0,NaN,NaN
11931,142309.0,1.0,40.0,2.0,4.0,25.5,179.1,127.0,2.0,5.2,96.0
11932,142310.0,2.0,80.0,3.0,3.0,27.6,161.7,128.0,2.0,5.3,NaN

Underneath, coding (1) gives the first list from the dataframe, which would be 0 since in Python the counting starts from 0. The same goes for when coding "tail."

In [9]:
df.head(1)

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
0,130378.0,1.0,43.0,6.0,5.0,27.0,179.5,135.0,2.0,5.6,113.0

In [12]:
df.tail(1)

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
11932,142310.0,2.0,80.0,3.0,3.0,27.6,161.7,128.0,2.0,5.3,NaN

When coding "shape" it shows the total number of rows and columns of the data structure's dimension.

In [10]:
df.shape

(11933, 11)

Below, I wrote "race_ethnicity" inside the breckets telling it to translate only the race_ethnicity of this whole data structure. I wrote head and by that I meant it to tell me only the first few of them.

In [13]:
df['race_ethnicity'].head()

0    6.0
1    3.0
2    2.0
3    7.0
4    3.0
Name: race_ethnicity, dtype: float64

And down here, I wrote tail, which would translate into only the last few of the data structure.

In [18]:
df['race_ethnicity'].tail()

11928    2.0
11929    4.0
11930    2.0
11931    2.0
11932    3.0
Name: race_ethnicity, dtype: float64

When putting 2 equal signs it will tell us if it's TRUE or FALSE, because we're just asking Python and not assigning it to a certain. "=="

In [20]:
5+5==10

True

In [21]:
0+0==5

False

When coding "int(5+5)==10" it will translate if it is true or false by coding 1 or 0. 1 means that it's true. 0 means false.

In [22]:
int(5+5==10)

1

In [23]:
int(0+0==5)

0

# Data Cleaning

Down below, we have "isna" where it counts or looks for any missing values and when we say "sum" it counts how many values each columns has.

df.isna().sum

In [24]:
df.isna().sum()

id                    0
gender                0
age                   0
race_ethnicity        0
education          4139
bmi                3462
height_cm          3434
systolic_bp        4416
has_diabetes        193
hba1c              5218
fasting_glucose    8261
dtype: int64

Down here, its calculating the missing values for each columns.

In [25]:
df.isna().mean()*300

id                   0.000000
gender               0.000000
age                  0.000000
race_ethnicity       0.000000
education          104.055979
bmi                 87.035951
height_cm           86.332020
systolic_bp        111.019861
has_diabetes         4.852091
hba1c              131.182435
fasting_glucose    207.684572
dtype: float64

Down here, the code will remove or clean the row for "systolic_bp"

In [26]:
df_clean = df.dropna(subset=['systolic_bp']).copy()

In [27]:
df_clean.isna().mean()*100

id                  0.000000
gender              0.000000
age                 0.000000
race_ethnicity      0.000000
education          22.003459
bmi                 0.864707
height_cm           0.572037
systolic_bp         0.000000
has_diabetes        0.000000
hba1c              13.516030
fasting_glucose    52.840229
dtype: float64

Below down, will show the how many rows has "systolic_bp."

In [28]:
df_clean.shape

(7517, 11)