<a href="https://colab.research.google.com/github/musabegumm/DSC110/blob/main/week4_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Mussamat')

Hello Mussamat

# **Variables**: stores information that can be used later on.

In the example below, I'm assigning **"a"** as **"Ireland"** so whenever I code **"a"** it'll print as **"Ireland"** .

```
# This is formatted as code
```

In [ ]:
a = 'Ireland'

In [ ]:
print(a)

Ireland

**Counting**: In Python, counting begins from at 0 and continues, unlike in the real wordl, where counting starts at 0.

In [ ]:
print(a[0])

I

In [ ]:
print(a[1])

r

In [ ]:
print(a[2])

e

In [ ]:
print(a[3])

l

In [ ]:
print(a[4])

a

In [ ]:
print(a[5])

n

In [ ]:
print(a[6])

d

Down below, I added a number and a second number with a colon in the middle. The first number indicates whatever the letter's number is. So 1 is equal to r, : , and 5 is equal to a.

In [ ]:
print(a[1:5])

rela

Down here is where I assign a letter to a number, so b is 4. I assigned d as b+c = ... .

In [ ]:
b = 4
c = 6
d = b + c

In [ ]:
b + c

10

In [ ]:
print(d)

10

The **"Power"** in Python is where you can calculate the power of a number. For example, : ðŸ”½

In [8]:
33**5

39135393

There are **4 structures** in Python:

1.   Lists
2.   Tuples
3.   Sets
4.   Dictionaries

In [ ]:
My_Lists=[1, 2, 3, 4, 'a']

In [ ]:
print(My_Lists)

[1, 2, 3, 4, 'a']

Underneath, I wrote "0:5" which prints all of the integers and strings. If I were to code "0:2" then it would print "[1, 2]"

In [ ]:
print(My_Lists[0:5])

[1, 2, 3, 4, 'a']

### **Tuples**: this is especially useful in student IDs, DOBs, it essentially prevents from changing things that cannot be changed.

Down below, I'm assigning **"My_Tuple"** with **"(1, 3, 5, 7, 'y')"**

In [ ]:
My_Tuple=(1, 3, 5, 7, 'y')

In [ ]:
print(My_Tuple)

(1, 3, 5, 7, 'y')

Underneath, I printed from My_Tuple and said to print it from "3" which is 7 when we count from 0 and continue.

In [ ]:
print(My_Tuple[3])

7

The same goes down below, where I said to print 4 which printed as "y".

In [ ]:
print(My_Tuple[4])

y

## **Dictionary**: this is where large infromation can be stored. The information are stored under the main key. So by using key you'd get the values.

In [ ]:
My_Dictionary={
    'Name':"Muniira",
    'Age':'20',
    'Gender':'Female',
    'City':'East Boston'
}

In [ ]:
My_Dictionary['Name']

'Muniira'

In [ ]:
My_Dictionary['Gender']

'Female'

## **Sets**: this is used for storing multiple things and it allows for no duplicates. For example, ðŸ”½

In [ ]:
My_Set={2, 4, 4, 6, 8, 8}

In [ ]:
print(My_Set)

{8, 2, 4, 6}

Responding to the code above: as you can see it only wrote the numbers one time even though I write 4 and 8 twice.